{{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.resume) }}

    <button type="button" id="addSkill" class="btn btn-info">
        Ajouter une compétence
    </button>

    {{ form_row(form.skills) }}

    {{ form_rest(form) }}

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
